.first-box-container {
  position: relative;
  width: 20px;
  height: 100px;
  background-color: yellow;
}

.second-box-container {
  position: relative;
  width: 20px;
  height: 100px;
  left: 25px;
  background-color: red;
}

.third-box-container {
  position: relative;
  width: 20px;
  height: 100px;
  background-color: green;
}
