

.first-box-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 100px;
  padding: 10px;
  background-color: red;
  overflow: auto;
  border-style: solid;
  border-color: green;
  border-width: 5px;
  text-transform: uppercase;
  text-aling: center;
}

.second-box-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 100px;
  padding: 10px;
  background-color: yellow;
  overflow: auto;
  border-style: solid;
  border-color: red;
  border-width: 5px;
  text-transform: uppercase;
  text-aling: center;
}

.third-box-container {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 100px;
  padding: 10px;
  background-color: green;
  overflow: auto;
  border-style: solid;
  border-color: yellow;
  border-width: 5px;
  text-transform: uppercase;
  text-aling: center;
}

.ensimmainen {
  background-color: #fff;
  position: absolute;
}
.toinen {
  background-color: #fff;
  position: static;
}
.kolmas {
  background-color: #fff;
  position: static;
}

